[2015-10-20 14:36] ericgrandmaison opened #1 "XML PM Comments"
![image](https://cloud.githubusercontent.com/assets/9721113/10610546/5b51161e-7716-11e5-92d4-b2433375fa61.png)

[2015-10-20 14:51] ericgrandmaison opened #2 "scheduling symbol"
Cover - Scheduling symbol

Add controlled list of schedules linked to controlled library Scheduling images. E.g., drop down list of schedules. When user selects a schedule an image from Health Canada’s library will be used. Change the Schedule and the image changes to match.

Priority - H

[2015-10-20 14:51] ericgrandmaison opened #3 "dosage form / strength"
Cover - Product title -

Extremely important to separate Dosage Form, Strength and Unit of Measure into separate fields as is done in XEVMPD and IDMP:
1. Dosage Form (controlled list)
2. Strength (Free but with restricted to numerical values)
3. Unit of Measure (Controlled list)

Priority - H

[2015-10-20 14:52] ericgrandmaison opened #4 "Footnote"
Cover - Footnote

Sponsors need a section for footnotes

Priority - M

[2015-10-20 14:52] ericgrandmaison opened #5 "save draft error"
Cover - Save Draft Link

Clicking Save Draft produces the following error:
System.NullReferenceException: Object reference not set to an instance of an object. at Product_Monograph.Coverpage.SaveInMemory() in c:\Development\HC\Product Monograph\Product Monograph\Coverpage.aspx.cs:line 219 at Product_Monograph.Coverpage.btnSaveDraft_Click(Object sender, EventArgs e) in c:\Development\HC\Product Mon

[2015-10-20 14:53] ericgrandmaison opened #6 "add/remove buttons"
Part I - SUMMARY PRODUCT INFORMATION -

Keep Add and Remove buttons consistent.

Priority - L

[2015-10-20 14:53] ericgrandmaison opened #7 "rich text field"
Part I - SUMMARY PRODUCT INFORMATION

No need for formatting in this section.

Priority - H

[2015-10-20 14:54] ericgrandmaison opened #8 "controlled lists"
Part I - SUMMARY PRODUCT INFORMATION -

Use controlled lists:
Route of Administration (controlled list)
Dosage form (controlled list)

Priority - H

[2015-10-20 14:55] ericgrandmaison opened #9 "separate indications from body text"
Part I - INDICATIONS AND CLINICAL USE -

Structure this section such that Indications are separate; e.g.,
() is indicated for <Indication title #1>, <body/descriptive text>
() is indicated for <Indication title #2>, <body/descriptive text>

Priority - H

[2015-10-20 14:59] ericgrandmaison commented on #7
closed Oct 20

[2015-10-20 14:59] #7 closed, assigned to nobody

[2015-10-20 15:10] ericgrandmaison commented on #9
Done Oct 16

[2015-10-20 15:10] #9 closed, assigned to nobody

[2015-10-20 15:10] ericgrandmaison opened #10 "Rich text fields - pics, tables, figures"
All - General

text based sections - All sections with paragraph text need the ability to attach images, figures and tables

Priority - H

[2015-10-20 15:11] ericgrandmaison opened #11 "pre-populate drug substance"
Part II - Drug Substance

Re-use Proper Name from the Cover Page

Priority - L

[2015-10-20 15:11] ericgrandmaison opened #12 "molecular formula / mass"
Part II - Drug Substance

Separate Molecular formula and molecular mass into separate fields

Priority - H

[2015-10-20 15:12] ericgrandmaison opened #13 "non-medical ingredients separation"
Part III - ABOUT THIS MEDICATION

Add ‘+’ and ‘-‘ buttons and make granular; i.e., one line per non-medicinal ingredient.
non-medicinal ingredient #1
non-medicinal ingredient #2

Priority - H

[2015-10-20 15:12] ericgrandmaison opened #14 "validation messages"
All - Validation

Insert Validation Messages

Priority - M

[2015-10-20 15:13] ericgrandmaison opened #15 "expand/collapse sections"
All - Functionality

Add Expand/Collapse All Sections Function

Priority - L

[2015-10-20 15:13] ericgrandmaison opened #16 "add/remove buttons"
All - Functionality -

Change the remaining  to ADD /REMOVE Button

Priority - L

[2015-10-20 15:14] ericgrandmaison opened #17 "Adverse reactions (mock-up)"
Part I - Adverse Reactions -

Redesign as per Eric’s mock-up.
Figure 3  for Adverse Reaction Section
No yet completed as of Oct 14th

Priority - H

[2015-10-20 15:14] ericgrandmaison opened #18 "Drug Interaction (mock-up)"
Part I - Drug Interaction - Redesign as per Eric’s mock-up.

Figure 2 for Drug Interaction Section
No yet completed as of Oct 14th

Priority - H

[2015-10-20 15:15] ericgrandmaison opened #19 "Proper Use - header"
Part I - Proper Use of Medication -

This section should be at the same level as Drug Interaction, Dosage and Administration, etc. It is now under subsection Overdosage.
This comment was provided previously however it must have been deleted by accident.

Priority - H

[2015-10-20 15:16] ericgrandmaison opened #20 "Pharmacokinetics (mock-up)"
Part I - Action and Clinical Pharmacology -

Pharmacokinetic  - Redesign as per Eric’s mock-up. Figure 1
No yet completed as of Oct 14th

Priority - H

[2015-10-20 15:17] ericgrandmaison opened #21 "clinical trials (mock-up)"
Part II - Clinical Trials -

Redesign as per Eric’s mock-up. Figure 4
No yet completed as of Oct 14th

Priority - H

[2015-10-20 15:17] ericgrandmaison opened #22 "Proper Use of Medication (mock-up)"
Part III - Proper Use of Medication

Requirements to have the ability to upload images with every text box in this section.
As per Eric’s mock-up. Figure 5
No yet completed as of Oct 14th

Priority - H

[2015-10-20 15:19] ericgrandmaison commented on #5
closed oct 20

[2015-10-20 15:19] #5 closed, assigned to nobody

[2015-10-20 15:21] ericgrandmaison commented on #2
Martin to provide list of schedules

[2015-10-20 15:22] ericgrandmaison commented on #3
Mike to create xml file with all controlled pick lists.  Sits on top of the other files, not hard coded into the page itself.

Eric will make changes to the xml file in the future, if items need to be added/removed.

[2015-10-20 15:23] ericgrandmaison commented on #16
Hold on further changes for now.

[2015-10-20 15:25] ericgrandmaison commented on #14
Phase 1 - validation only on the form
Phase 2 - validation of the xml file itself
Dates format: yyyy-mm-dd

[2015-10-20 16:08] MartinBernard commented on #22
okay

[2015-10-23 18:45] #21 closed, assigned to nobody

[2015-10-23 18:46] #20 closed, assigned to nobody

[2015-10-23 18:48] maadarani commented on #19
Do you mean ACTION AND CLINICAL PHARMACOLOGY?

[2015-10-23 18:49] #18 closed, assigned to nobody

[2015-10-23 18:50] #22 closed, assigned to nobody

[2015-10-23 18:50] #17 closed, assigned to nobody

[2015-10-23 18:50] #16 closed, assigned to nobody

[2015-10-23 18:54] maadarani commented on #13
What does make Granular mean?

[2015-10-24 19:17] maadarani commented on #2
Confirming the change.
1/ add 'dropdown list of schedules' just above the image section (see screenshot)
2/ list of schedules (you already asked, this is fine)
3/ list of schedules will be added to the Controlled List xml file (same xml as the rest of dropdown lists, this is fine)
4/ add 'scheduling symbol image folder' as library of images
5/ user experience
- user pick a schedule in the dropdown

[2015-10-24 19:17] maadarani commented on #3
Currently, there's brand name, proper name, and dosage form/strength columns, total three columns.
Can you confirm, this task will give us these much columns (5), and these field functionalities?
Brand name (still a normal textbox)
Proper name (still a normal textbox)
Dosage Form (dropdown list, values from controlled list)
Strength (normal textbox, only numeric)
Unit of Measure (dropdown list, va

[2015-10-24 19:18] maadarani commented on #4
Where do we put the footnote, just below "Sponsor address"?
Why kind of textbox, normal or richtextbox?

[2015-10-24 19:18] maadarani commented on #6
completed. please validate

[2015-10-24 19:24] maadarani commented on #8
Please confirm.
Only "Route of Administration" and "Dosage form" will be dropdown lists (getting values from controlled list xml)
"Dosage Form(s) and Strength(s) " will NOT be in separate columns just like in Cover page

[2015-10-24 19:27] maadarani commented on #10
Please validate

[2015-10-24 19:30] maadarani commented on #11
Is it this section?
![proper](https://cloud.githubusercontent.com/assets/6798647/10712287/31bcbbd6-7a64-11e5-84a0-a3b891a143a3.png)

[2015-10-24 19:37] maadarani commented on #12
Confirm.
Molecular formula is one richtextbox.
Molecular mass is another richtextbox.

[2015-10-24 19:41] maadarani commented on #13
In About this Medication, there are these fields:
WHAT THE MEDICATION IS USED FOR
WHAT IT DOES
WHEN IT SHOULD NOT BE USED
WHAT THE MEDICINAL INGREDIENT IS
WHAT THE NONMEDICINAL INGREDIENTS ARE
WHAT DOSAGE FORMS IT COMES IN

Do we ONLY want ADD and REMOVE functionality (assuming this was meant by granular) on "WHAT THE NONMEDICINAL INGREDIENTS ARE"?

[2015-10-24 19:44] maadarani commented on #14
Confirm if these are the "validation message" items. Also see comments.
1/ Drop menus need help text (eg “Select xyz”) to be added to the list and shown as default selection
- will add

2/ In date fields, when no date is yet selected, display the following 'mm dd, yyyy'
- textbox is ready only. it's a date picker. when a date is picked, it auto populate the textbox
- date format is:
<cc1:CalendarE

[2015-10-24 19:49] maadarani commented on #14
in addition to above
#2
- format is already controlled in the calendar textbox
#3
![label](https://cloud.githubusercontent.com/assets/6798647/10712355/ac8026ee-7a66-11e5-8d8a-0e8789684858.png)

[2015-10-24 19:50] maadarani commented on #14
in addition to above
#2
•format is already controlled in the calendar textbox

[2015-10-24 19:50] maadarani commented on #14
in addition to above
#3
![label](https://cloud.githubusercontent.com/assets/6798647/10712362/ea480bea-7a66-11e5-8036-7cd172c56d69.png)

[2015-10-24 20:00] maadarani commented on #15
As an example, do we want this much expand/collapse?
Currently, Dosage and Administration is one big expand/collapse.
Do we want Dosing Considerations has its own expand/collapse?
Do we want Recommended Dose and Dosage Adjustment has its own expand/collapse?
Do we want Missed Dose has its own expand/collapse?
Do we want Administration has its own expand/collapse?
Do we want Reconstitution has its

[2015-10-24 20:05] maadarani commented on #19
Are we referring to Part III,  PROPER USE OF THIS MEDICATIONÉ

[2015-10-26 23:50] #6 closed, assigned to nobody

[2015-10-26 23:50] #10 closed, assigned to nobody

[2015-10-27 02:13] #2 closed, assigned to nobody

[2015-10-27 02:28] MartinBernard opened #23 "HC XML Schema"
We will need to start working with Peter B and Mike M. to create HC XML Schema for the this project. We will first finalize the web form before addressing this issue.

[2015-10-27 02:31] MartinBernard commented on #19
Yes. The whole section ACTION AND CLINICAL PHARMACOLOGY should be at the highest level where we can drill down to its content. FOr example,

SUMMARY PRODUCT INFORMATION
INDICATIONS AND CLINICAL USE
CONTRAINDICATIONS
WARNINGS AND PRECAUTIONS

[2015-10-27 02:33] MartinBernard commented on #13
Disregard this one for now.

[2015-10-27 02:33] #13 closed, assigned to nobody

[2015-10-27 13:13] MartinBernard commented on #15
Leave for now. This comment will come back up during user testing.

[2015-10-27 13:14] #11 closed, assigned to nobody

[2015-10-27 13:15] MartinBernard commented on #14
...not done yet.

[2015-10-27 13:16] MartinBernard commented on #8
RoA, DF, schedule lists have been provided. PLease go ahead and load in.

[2015-10-27 13:19] MartinBernard commented on #3
@maadarani  - we will need to adjust the spacing for
Brand name | Proper name | Dosage Form | Strength | Unit of Measure

Brand Name, Proper Name, DF should all be wider while strength and unit of measure can be relatively small given the values that will go in.

[2015-10-27 13:21] MartinBernard commented on #4
Footnote field should be a rich text and inserted below the Submission Control No: field.

Also noted that the "add/or" is still an issue on the cover page. please correct to "and/or".

[2015-10-27 13:22] maadarani commented on #3
@MartinBernard Yup. Working on it, but had to stop for Vik's demo.

[2015-10-27 13:25] MartinBernard commented on #3
no prob.

From:   Mike Maadarani notifications@github.com
To: hres/pmp pmp@noreply.github.com
Cc: MartinBernard martin.bernard@hc-sc.gc.ca
Date:   2015-10-27 09:22 AM
Subject:    Re: [pmp] dosage form / strength (#3)

@MartinBernard Yup. Working on it, but had to stop for Vik's demo.

—
Reply to this email directly or view it on GitHub.

[2015-10-27 13:25] MartinBernard commented on #8
You can also use the DPD online pick list for dosage /route/ schedule found here: http://webprod5.hc-sc.gc.ca/dpd-bdpp/index-eng.jsp

They should be identical to the lists I sent you.

[2015-10-27 13:35] MartinBernard opened #24 "Part I - INDICATIONS AND CLINICAL USE"
We need to add a text box for users to enter a digit for Pediatric sub section

years of age) or (< [  ] years of age)

[2015-10-27 13:41] maadarani commented on #8
OK. So the DF is there, but we don't have root of administration and schedule. Where do these map to?

[2015-10-27 13:43] MartinBernard commented on #8
They are all there.

From:   Mike Maadarani notifications@github.com
To: hres/pmp pmp@noreply.github.com
Cc: MartinBernard martin.bernard@hc-sc.gc.ca
Date:   2015-10-27 09:41 AM
Subject:    Re: [pmp] controlled lists (#8)

OK. So the DF is there, but we don't have root of administration and
schedule. Where do these map to?

—
Reply to this email directly or view it on GitHub.

[2015-10-27 13:57] MartinBernard opened #25 "Mock-Ups (5 figures)"
We will need to review tomorrow. There are still many issues / concerns with the mock-ups.

I will be easier to complete in person. We're almost there. Keeping in mind this will probably change again after user testing.

[Visio-SPL_v3.pdf](https://github.com/hres/pmp/files/21694/Visio-SPL_v3.pdf)

[2015-10-27 14:00] MartinBernard commented on #25
...the ability to add columns and rows within table is not there

[2015-10-27 14:25] MartinBernard commented on #8
Units of Measure List (eng / fr)
Please disregard the ID and Inactive date column.

[metric_unit_Oct_2015.xlsx](https://github.com/hres/pmp/files/21718/metric_unit_Oct_2015.xlsx)

[2015-10-28 12:37] #1 closed, assigned to nobody

[2015-10-28 12:41] MartinBernard commented on #3
@maadarani - Please add schedule and I will provide the library for the corresponding images.  Also load DF on Cover Page

[2015-10-28 12:42] #4 closed, assigned to nobody

[2015-10-28 12:43] MartinBernard commented on #8
see item #3 for action and reference. CLose

[2015-10-28 12:43] #8 closed, assigned to maadarani

[2015-10-28 12:43] #12 closed, assigned to nobody

[2015-10-28 12:59] #24 closed, assigned to nobody

[2015-10-28 13:15] MartinBernard commented on #25
Make necessary changes as discussed today (ie: dropdown select, view display error, addition of column to table, etc,).

[2015-10-28 14:51] MartinBernard commented on #3
Unfortunately there is no library so you won't be able to use the Schedule drop down list for this field.  Can you use the following as the list of images. See section C01.004 (b) (i-iv)
http://laws-lois.justice.gc.ca/eng/regulations/c.r.c.,_c._870/page-196.html#docCont

...................on the upper left quarter of the principal display panel

[code]

[2015-10-29 01:42] maadarani commented on #3
@MartinBernard I can only see 2 symbols in that list and 2 abbreviations. Is that what we need? I don't think this will work.

[2015-10-29 02:34] MartinBernard commented on #3
Yes, we can turn Pr and N into images in order to make it work.

Pr
N
![crc870_ef002](https://cloud.githubusercontent.com/assets/9659886/10808625/f91bd2ea-7dc3-11e5-896b-74255070cd59.jpg)
![crc870_ef004](https://cloud.githubusercontent.com/assets/9659886/10808630/07c66c1a-7dc4-11e5-8601-2a3f4440fc7d.jpg)

[2015-10-29 14:57] MartinBernard commented on #3
I noticed that the dosage form list does not load on the first cover page but it does in Part I - Summary Product Information

[2015-10-29 15:35] maadarani commented on #3
That's probably you loaded it when I was working on it.

[2015-10-29 15:39] MartinBernard commented on #3
can't see it how do I enable the view then? clear cache?

From:   Mike Maadarani notifications@github.com
To: hres/pmp pmp@noreply.github.com
Cc: MartinBernard martin.bernard@hc-sc.gc.ca
Date:   2015-10-29 11:35 AM
Subject:    Re: [pmp] dosage form / strength (#3)

That's probably you loaded it when I was working on it.

—
Reply to this email directly or view it on GitHub.

[2015-10-30 11:55] MartinBernard opened #26 "Status Update???"
@maadarani - I haven't seen any of the remaining 4 issues tracked in GIT addressed. The deadline was Oct29th. Can you provide a status

[2015-10-31 17:10] #3 closed, assigned to maadarani

[2015-10-31 17:10] maadarani commented on #3
Try again. IT could be cache issue related.

[2015-11-02 16:43] MartinBernard opened #27 "Strength Field"
Priority - Medium

Strength field will have to be separated into 4 fields to allow capturing ingredients strengths like 20 mg /  3.4 ml.

Strength (Value | Unit) and Strength per dosage (Value | Unit).

Please let me know if you need further clarification

For reference: [Structured PM and EL Comments.docx](https://github.com/hres/pmp/files/25449/Structured.PM.and.EL.Comments.docx)

[2015-11-02 16:48] MartinBernard commented on #26
@maadarani - ???

[2015-11-02 16:50] MartinBernard opened #28 "General Comments (after population)"
- Tried to save draft after I completed Part 1 and lost all of my work
- Tried to hit the return button while in the table for Adverse reactions and I lost all of my work
- Some special characters wouldn't copy in but other would, subscript and superscript wouldn't copy in.
- Took approx. 2 hours to complete all sections.

[2015-11-02 16:56] MartinBernard opened #29 "Part I - general comments"
(1) There are some headers that were not available in the box-down box.  Is there a way to have free text? Once you start using the paragraphs with headers in part 1 you cannot go back to adding paragraphs without headers.

For example, under Part I - Warnings and Precautions adding a header called "other" which allows users to manually insert their sub section headers

(2) Part I - Drug Interacti

[2015-11-02 16:57] MartinBernard opened #30 "Part II - Molecular Formula"
Molecular formula: subscript (C23H27Cl2N3O2) it wouldn't copy straight in

[2015-11-02 16:59] MartinBernard opened #31 "Part III - General Comments"
(1) Serious Side effects Table: There are often different titles in the last column. RIght now the table says "Stop Taking Drug" however we should be able to modify the wording for each column.

(2) Reporting Side Effects: missing this text at the end “Reporting Form and the adverse reaction reporting guidelines are available on the MedEffect™ Canada Web site at www.healthcanada.gc.ca/medeffect.
N

[2015-11-02 18:59] MartinBernard opened #32 "Controlled Vocabulary ID"
Mike - can you confirm that for each controlled vocabulary terms, there is an equivalent unique ID. This will ensure proper management of those lists (ie: DF, RoA). You will be required to embed the actual ID as part of the XML file. We're recommending including it as an attribute.

Another question on this topic. As part of your validation messages when users load an existing XML, do you check to

[2015-11-02 19:06] MartinBernard opened #33 "Email from Peter Bomber (FDA/Labelbridge)"
Provide deck

[2015-11-03 17:54] maadarani commented on #32
Martin - Each field in the controlled vocabulary has a unique ID. If the ID if each item in the DD list must match the FDA, then I need the list.
In terms of loading the XML, yes I will check if the XML file has the same values as the controlled list, including the IDs.

[2015-11-04 04:27] maadarani commented on #31
1) Confirm if you want me to change everything to text field that has the text inside it, but the user can change it.

[2015-11-04 04:30] maadarani commented on #30
It is working in all the browsers. Can you retest?

[2015-11-04 04:30] #30 closed, assigned to nobody

[2015-11-04 04:34] maadarani commented on #29
What do you mean by this "Once you start using the paragraphs with headers in part 1 you cannot go back to adding paragraphs without headers." ?

[2015-11-04 04:38] maadarani commented on #29
2) This is because the requirement was to be able to add custom text in the drop menu. i.e. controlled vocabulary and ability to add your own. To do so, we need to it purely in HTML5 and not the traditional way, which means no down arrow. The traditional way with down arrow does not allow you to add your own text.

[2015-11-04 04:40] maadarani commented on #28
I can't replicate it. Everything is saved in memory, even if you go from one page to another. will keep testing.

in regards of 2 hours to complete all sections comment, we have so many fields in there, and the form is very long, so I am not surprised that it took you that long.

[2015-11-04 13:13] MartinBernard commented on #30
Seems to work.

@maadarani - for future reference, please try not to close items before they are validated by the group. I will make sure to close them once they are in fact complete.

[2015-11-04 13:21] MartinBernard commented on #29
re 1) - what i was trying to say is that for "Warnings and Precautions" section where there is drop menu, sub headings found there are not all encompassing, we should have the ability to also manually insert sub headings.

re 2) - Understood.

[2015-11-04 13:22] MartinBernard commented on #28
We will also continue to test to see if I can replicate the "lost work"

[2015-11-04 13:23] MartinBernard commented on #32
Message forwarded to Peter B (pbx@soundfound.com). We will close this as it addressed his comment

[2015-11-04 13:23] #32 closed, assigned to maadarani

[2015-11-04 13:24] MartinBernard commented on #26
Msg from Mike --- I am done with Vegas and currently at the Microsoft MVP Summit in Seattle. I have noticed the additional items and I am working on the system at nights, as I am tied up with the Summit during the day. I am back in town Thursday night.

[2015-11-04 13:24] #26 closed, assigned to nobody

[2015-11-04 13:25] MartinBernard commented on #19
I noticed you played around with this, I don't think you're done yet b/c it is not represented as requested.

[2015-11-04 13:26] MartinBernard commented on #14
Some date fields have been changed to reflect yyyy-mm-dd however not all fields have been rectified. For example, last section of Part III is still incorrect.

[2015-11-04 20:17] MartinBernard opened #34 "Character Limit (1500)"
When trying to populate paragraphs throughout the template i received pop up messages indicating that there was a maximum number of characters that was reached (1500 characters).

Did not seem to cause a problem yesterday.

[2015-11-04 20:18] MartinBernard commented on #28
After I entered information into the Molecular Mass section in Part 2 and tried to save a draft it crash.

However, today there was no lost work

[2015-11-04 20:18] maadarani commented on #34
This is part of the validation that Eric sent a while ago. Put a 1500 character limit on each field.

[2015-11-04 20:19] MartinBernard opened #35 "Load XML"
I cannot load an xml file, I get an error message.

![image](https://cloud.githubusercontent.com/assets/9659886/10950762/77e5a61c-8307-11e5-8d71-bb8bde1eeced.png)

[2015-11-04 20:20] MartinBernard commented on #34
That's not true. We should remove it but we can do that at a later date.

[2015-11-04 20:22] maadarani commented on #34
it is in the spreadsheet he sent me. If we are adding it later, why remove it?

[2015-11-04 20:23] maadarani commented on #35
was is it a file created by the application?

[2015-11-04 20:36] MartinBernard commented on #35
Yes

[2015-11-04 21:45] maadarani commented on #28
Probably it was when I was updating the code.

[2015-11-04 21:45] #28 closed, assigned to nobody

[2015-11-04 21:47] maadarani commented on #25
We need to discuss adding columns; this is more complicated than rows and will require re-designing the table section. The fact that adding columns came after adding rows, I will have to change everything to make it happen and usable. We should chat about it.

[2015-11-05 01:12] MartinBernard commented on #34
We need to allow for more than 1500 chars. However, please do not change anything for the time being unless instructed otherwise.

Keep this issue open for the time being.

[2015-11-05 01:14] MartinBernard commented on #33
I have extracted the questions for the FDA, they are also included in v0.1 of the deck.  These are the questions that we need to forward to the FDA, also is there a HC template I should use for the deck?
 
•       Please verify that FDA SPL Schema uses a procedural validation approach?
–      Why was this approach taken & where/how is the content validated?
–      Are fragments supported?
–      I

[2015-11-05 01:19] MartinBernard commented on #19
Checked again tonight and field "ACTION AND CLINICAL PHARMACOLOGY" is at the top of the form and missing many elements still embedded under overdosage. I'll wait to review in person before making more comments.

[2015-11-05 01:21] MartinBernard commented on #31
Yes but if you could pre-populate with the text already in there that would be helpful. It'll allow user to change it if they need which is not often but at least it'll be flexible.

[2015-11-05 01:27] MartinBernard commented on #25
Let's keep this discussion for our meeting on Friday with Vik.

[2015-11-05 17:32] MartinBernard commented on #35
Seems to work now. We will close

[2015-11-05 17:32] #35 closed, assigned to maadarani

[2015-11-05 17:36] MartinBernard opened #36 "Form Crash"
We were able to pin point the problem of the form crashing. It occurs when we specifically add the molecular mass. If you remove it works, it you add it crashes.

![image](https://cloud.githubusercontent.com/assets/9659886/10976449/e4d7e0de-83b9-11e5-8833-80a1b18717c4.png)

[2015-11-05 17:39] MartinBernard commented on #31
Another comment under Part III - Warnings and Precautions.....please remove statement "BEFORE you use   BRAND NAME   talk to your doctor or pharmacist if:"

[2015-11-05 19:55] MartinBernard commented on #33
Done. Pending with Vik to send.
@maadarani - you'll be requested to attend. stand by for invite.

[2015-11-06 00:04] maadarani commented on #29
Now you can add any text to the header

[2015-11-06 00:04] #29 closed, assigned to maadarani

[2015-11-06 00:06] maadarani commented on #27
Can you elaborate more or give a mockup?

[2015-11-06 00:08] maadarani commented on #19
OK. We need like a mockup to make sure I understand what you need.

[2015-11-06 00:09] #14 closed, assigned to maadarani

[2015-11-06 00:17] MartinBernard commented on #19
You had it also perfect before. All you needed is to bring up Action and Clinical Pharmacology up a level so it was in the expand collapse section immediately after overdosage. I'll provide a screen shot.

[2015-11-06 01:49] MartinBernard commented on #19
Here's the screen shot. We can discuss more tomorrow.

![image](https://cloud.githubusercontent.com/assets/9659886/10987157/a623d038-83fe-11e5-997e-f9bf414f96ac.png)

Mechanism of Action box and Pharmackinetic goes under Header "Action and Clinical Pharmacology" which shuold be inserted between header "Overdosage" and "Storage and Stability"

[2015-11-06 02:14] MartinBernard commented on #27
For the cover letter page , it should look like this.

![image](https://cloud.githubusercontent.com/assets/9659886/10987535/36863f28-8402-11e5-8a15-5db5ef578e24.png)

[2015-11-06 18:40] #31 closed, assigned to maadarani

[2015-11-06 18:42] #27 closed, assigned to maadarani

[2015-11-06 18:43] #19 closed, assigned to maadarani

[2015-11-06 23:58] #36 closed, assigned to nobody

[2015-11-07 02:57] MartinBernard commented on #33
pbx@soundfound.com

Email is slightly confusing. VIk will be calling to discuss and revise.

[2015-11-10 17:43] MartinBernard commented on #23
@maadarani the remainder of the 15 days should be spent on this task. A meeting with Peter will be scheduled shortly.

[2015-11-10 22:36] MartinBernard commented on #33
Email is in Vik's inbox to send off to FDA

[2015-11-10 22:36] MartinBernard commented on #23
Meeting is schedule for Nov 16th 11am. Invitation was sent.

[2015-11-16 15:55] MartinBernard opened #37 "Date Field do no populate"
When loading the saved XML, the date fields do no populate they remain empty

[2015-11-16 15:56] MartinBernard commented on #37
XML File is saved here for reference

L:\RMOD-NEW\BI\Mgt of IT GC8\Database Mgt - 34\IP450\Scope\Structured Content\XML Sample

[2015-11-16 16:01] MartinBernard opened #38 "Template Load Default"
If no template is selected from the first page and user submit it defaults. Change

[2015-11-16 17:22] MartinBernard commented on #33
Email sent by Vik this morning. Awaiting response to engage however let's take all of our assumptions discussed today granted.

[2015-11-16 21:40] MartinBernard commented on #23
@maadarani - just to clarify as a first step, can you please focus on setting IDs on the form b/c Peter needs those specifically for the guidance development. However, validation rules are secondary at this point. We'll use the guidance document rather than the schema to enforce business rules.

[2015-11-17 21:02] #33 closed

[2015-11-18 13:54] MartinBernard opened #39 "Web Standards"
I received a heads-up from our web standards group within IMSD that there are lots of issues with the form where it is not complaint or using incorrect functionality, etc.  The group responsible will be submitting their report to us by Friday.

I was under the impression that you assured us that everything would be in line with the standards and that only minor changes MAY be required but by the w

[2015-11-18 13:57] MartinBernard opened #40 "Documentation / Knowledge Transfer"
We should also try to keep a day or two (out of the 15d) to ensure everything is properly documented and could be used for knowledge transfer should you NOT be the person developing the remaining 9x templates or even possibly the French equivalent templates.

[2015-11-18 14:32] maadarani commented on #39
I suspect it is related to the RTE. Usually one thing leads to tens if not hundreds of errors. I will wait for the report to assess.

[2015-11-19 15:21] ericgrandmaison opened #41 "file size limits?"
Hi Mike,
Are there any file size restrictions in each of the field types that can be uploaded to the template?
eg. pictures, xml

Thanks

[2015-11-19 16:24] maadarani commented on #41
No

[2015-11-19 16:24] #38 closed, assigned to nobody

[2015-11-19 16:24] #37 closed, assigned to maadarani

[2015-11-19 16:45] MartinBernard commented on #41
thx

[2015-11-19 16:45] #41 closed, assigned to nobody

[2015-11-19 16:45] MartinBernard commented on #38
Still not fixed

[2015-11-19 16:45] MartinBernard commented on #37
Works for all three fields

[2015-11-19 17:27] MartinBernard commented on #23
any progress on this issue Mike, Peter is waiting impatiently and has asked me to follow-up with you.

[2015-11-20 19:50] MartinBernard commented on #39
Report attached. There are lots of issues listed. Some of which you gave assurance on at the start of the development of the form so not sure why they are found in the report

<deleted report>

Can you please take a quick look in advance and we should probably meet to discuss.

[2015-11-20 23:00] maadarani commented on #39
The report actually is not bad at all; it is long, but it shows pass, n/a, or fail. Some of the items listed were tested before we finished the product and the issues do not exist. Some are related to the fact we are using RTE and not text field, some are either related to the WET footer/header, which we have not finished, and the rest are minor. I am actually pretty happy with this report.

Maybe

[2015-11-20 23:31] MartinBernard commented on #39
OKay good to hear that. I got worried after seeing 15 pages of issue -- that's re-assuring.

Let's use our Friday meeting 11am to review. In the mean time, I'd like you to spend one hour max on going through the document and appending your comments and response that way our meeting will be more productive.

[2015-11-20 23:34] MartinBernard commented on #23
bump

how much time do you think you'll consume with this task? keeping in mind i want 2d for documentation/knowledge, and at least 1d for form fixes resulting from the web standard assessing (i'm thinking that probably enough but i could be incorrect.

[2015-11-24 20:19] MartinBernard commented on #39
Here's the new report for our review on Friday.

[RDIMS_EAST-#335466-v1-Web_Standards_and_Web_Renewal_Compliance_Report_-_....docx](https://github.com/hres/pmp/files/43179/RDIMS_EAST-.335466-v1-Web_Standards_and_Web_Renewal_Compliance_Report_-_.docx)

[2015-11-27 16:50] MartinBernard opened #42 "Declarations"
Peter B to provide Mike
(1) XML Prolog
(2) Document Declaration
(3) Document Definition
(4) Codes

[2015-11-27 16:53] MartinBernard opened #43 "French CV Terms"
Martin to provide french CV terms for:
- Route of Administration
- Dosage Form
- Scheduling Symbols
- Strengh Unit
- Pharmaceutical Standards
- Labels of the Form Section and Sub Section (send to Peter B)

[2015-11-27 17:04] MartinBernard commented on #39
@maadarani - please provide estimate only for the correction required based on the report provided by our web standards group

[2015-11-27 17:25] MartinBernard commented on #43
Request submitted for code table extraction
![snap1](https://cloud.githubusercontent.com/assets/9659886/11446225/ddaa7a2a-9501-11e5-9b28-9558239a7609.jpg)

[2015-11-27 18:41] MartinBernard opened #44 "Image Size"
@maadarani - Is there a size limit for uploading images? There are some restrictions apparently on image sizes as part of eCTD. We just need to make sure it aligns.

[2015-11-30 14:13] MartinBernard commented on #44
@maadarani - we will need to provide an answer to Vik before he goes to CAPRA .

[2015-11-30 16:00] maadarani commented on #44
Right now we do not have any restriction. If we need to cap the image size, then we can; I just need to know the size.

[2015-11-30 16:24] MartinBernard commented on #44
2gb per image file - technical limitation.

[2015-11-30 18:24] MartinBernard opened #45 "Indentation Level for Special Populations under Warning and Precautions (Part 1)"
Please correct the indentation of this pick list. The following highlighted text should be considered sub section of Special Populations.
![snap1](https://cloud.githubusercontent.com/assets/9659886/11480479/a2b9a5ba-9765-11e5-8988-0636d0f6b170.jpg)

[2015-11-30 18:57] MartinBernard opened #46 "Please remove the add button for all para's"
Lets be consistent, can we only have an ADD button for sections.

[2015-11-30 19:08] MartinBernard commented on #44
Peter to find technical details and get back to us.
@maadarani  - no action required for you now.

[2015-11-30 19:21] MartinBernard opened #47 "Indentation Level under Adverse Reactions (Part 1)"
Within the picklist, the following don't belong.
![snap5](https://cloud.githubusercontent.com/assets/9659886/11481677/d99137cc-976c-11e5-8ba3-875371f351c3.jpg)

[2015-11-30 19:23] MartinBernard commented on #47
In addition, you're still missing the children under " Less Common Clinical Trial Adverse Drug Reactions (<1%)" should be the following.  Please also rectify the title as indicated above.

Cardiovascular:
Digestive
Gastrointestinal

You

[2015-11-30 19:25] MartinBernard opened #48 "Missing Section"
Under Action and Clinical Pharmacology, you're missing one section (Pharmacodynamics) that should be inserted in between Mechanism of Action and Pharmacokinetics.

[2015-11-30 19:39] MartinBernard opened #49 "Add Peter Bombert to this repo"
@ayoung8 - Can you add peter.bomberg to the repo github.com/hres/pmp

email address is pbx@soundfound.com uid is peter.bomberg

[2015-11-30 19:40] MartinBernard opened #50 "Controlled Vocabulary Drupal Module"
Peter, I've asked our sysadmin to create a DRUPAL site so we can start building the CV management tool.

As per your discussion with Vik, we need the following:

1) Technical specs (i.e.: column def, configuration, etc.)
- Create Code Tables for CVs and their respective field requirements.
  2) Interface specs / requirements
  3) management and governance authority
  4) lifecycle management compon

[2015-11-30 20:18] MartinBernard commented on #50
My students is all briefed up on this issue / ask.

If you provide me the specs etc soon then we can have something in place by end of week.

With respect to the ID and date stamp, (1) there are table ID which is class_code and (2) there is no change time stamp for any of the code tables in DPD

[2015-12-02 15:39] MartinBernard commented on #49
Account not yet valid. I've asked Peter to resubmit his credentials

[2015-12-02 15:43] MartinBernard commented on #40
Status update?  - load & attach to GITHub.

[2015-12-02 15:44] MartinBernard commented on #23
Addressed via other GitHub Issues. CLose

[2015-12-02 15:44] #23 closed, assigned to maadarani

[2015-12-02 15:48] MartinBernard commented on #50
First iteration of data capturing repository has been created. IMS account created for Peter B.

[2015-12-02 21:37] MartinBernard commented on #49
@peterbomberg - done.

[2015-12-02 21:37] #49 closed, assigned to nobody

[2015-12-02 21:38] MartinBernard commented on #50
First draft version is ready to be viewed.

drupal.hres.ca/vocabulary

username : reader
pw : reader

[2015-12-03 14:25] MartinBernard commented on #47
Martin to provide more details to Mike

[2015-12-03 14:33] MartinBernard commented on #39
Estimated 3 days worth of effort for Mike to complete

[2015-12-03 14:37] MartinBernard commented on #42
@peterbomberg --- Mike will use his remaining 10 days on his contract to do this activity. Where are we with that?

[2015-12-03 14:43] #47 closed, assigned to MartinBernard

[2015-12-03 15:35] peterbomberg commented on #42
Working on the schema, but honestly it will take way more time than I
planned, how urgent is it for Mike?

[2015-12-03 15:43] MartinBernard commented on #42
Mike has 10 days left till end of December so you have time but you'll need to do it within the next two weeks. Hopefully that's feasible

[2015-12-06 14:26] MartinBernard commented on #44
Email from Peter ----- They cap images at 1MB, however this is for images included in a XML document. I would recommend we allow significantly larger images (as this is based on scanning a page not on computer generated images).

Response from Vik -----     Not sure I completely follow.  Why would we do something differently?   The XML file is generate on the user's workstation or programmatically

[2015-12-06 14:31] MartinBernard commented on #50
Many modifications and changes made a result of email exchange between peter and I. French values will be loaded by eod tomorrow..

[2015-12-06 20:17] MartinBernard commented on #50
Message from Peter -

Can we capture notes for the implementation and maintenance guide?

The description field will contain a reference to the new code for any that are superseded and all non-approved must have an explanation of the reason for the non-approved status.

[2015-12-06 20:18] MartinBernard commented on #44
Email from Peter -----The images must be referenced from the SPL document (otherwise they will be deleted in many XML CMS systems as they are orphans). The file size limit of 1MB in my mind should be raised as a single hi resolution photo can easily be 2-10MB.

[2015-12-07 16:19] MartinBernard commented on #40
URGENT - @maadarani Can you pls update your code to GITHUB today?

[2015-12-07 16:53] MartinBernard commented on #43
Based on using standard SPL approach, this information is no longer required.

[2015-12-07 16:53] #43 closed, assigned to MartinBernard

[2015-12-07 16:53] MartinBernard commented on #43
Martin has the information on the shared drive if ever needed

[2015-12-07 16:56] MartinBernard commented on #44
There no technical reason why we can't allow them to submit hi res photo.
Let's set it from 2-10mb.
We will confirm and validate statement during pilot phase.

[2015-12-07 16:56] #44 closed, assigned to peterbomberg

[2015-12-07 17:01] MartinBernard opened #51 "Work Status Update???"
Status Update on #39 , #40 , #45 , #48

Most important is the upload of your code to GIT.

[2015-12-08 02:43] MartinBernard commented on #50
All CVs has been entered including all Section ID, Template ID, Document ID as defined in Peter's guidance doc.

I will need to sit with Eric and go through the list to validate values entered.

[2015-12-09 14:54] peterbomberg opened #52 "PMP Working Group - Section Numbering"
Martin to table the issue with the PM WG.

We need a decision on the Section Numbering:

[code]

[2015-12-09 15:11] peterbomberg opened #53 "PMP Working Group - Equivalency CV"
Martin to table.

Do we need a HC CV for equivalency or can we formally adopt the FDA's CV
- OID 2.16.840.1.113883.3.26.1.1

[2015-12-09 15:14] peterbomberg opened #54 "PMP Working Group - Marketing Category and Product Type"
Martin to table.

Can we formally adopt the FDA Marketing Category and Product Type CV (OID: 2.16.840.1.113883.3.26.1.1) or do we need a HC CV list.

This has a significant effort aspects as it changes the rendering engine and rules.

[2015-12-09 15:16] peterbomberg opened #55 "PMP Working Group - Rendering"
Martin to table.

Explain the rendering approach and the impact. Escalate until we have resolution and forecast the impact to the project.

[2015-12-09 16:13] peterbomberg commented on #50
I apologize but I have missed some items, please add the following items:

To the Section ID table:
220-70  Adverse Drug Reaction Narrative
230-70  Serious Drug Interactions
230-80  Drug Interactions Overview
390-30  Missed Dose

[2015-12-09 16:14] peterbomberg opened #56 "CV clarification"
Martin can you verify if A or B is correct

A)
240-50  Reconstitution
240-60  Oral Solutions
240-70  Parenteral Products

B)
240-50  Reconstitution
240-50-10   Oral Solutions
240-50-20   Parenteral Products

[2015-12-09 16:23] peterbomberg opened #57 "PMP Working Group - Pristine PM Title"
Martin to table.

Need the title for a Pristine PM

[2015-12-09 16:24] peterbomberg opened #58 "PMP Working Group - Samples"
Need 2-3 complete samples of the pristine PM

[2015-12-09 16:29] MartinBernard commented on #56
Right now it is tracked in Drupal as (A)

[2015-12-09 16:44] peterbomberg commented on #56
Can you please table with PM WG as your walkthrough implies B, so I would like to clarify

[2015-12-09 16:53] peterbomberg opened #59 "PMP Working Group - Author"
Martin to table.

Who is identified in the author field?
- FDA options are Labeler, Registrant, Establishment, Agent and Importer, what does HC require in this field?

[2015-12-09 17:07] peterbomberg opened #60 "PMP Working Group - CV usage"
Martin to table (can I stop stating this?)

We need to validate the assumption that Pristine PM's can only use CV terms where the status is approved? or can they also use pending?

[2015-12-09 17:09] peterbomberg opened #61 "PM Working Group - Issues Needing Resolution"
1) Who is identified in the author field?
FDA options are Labeler, Registrant, Establishment, Agent and Importer, what does HC require in this field?

Recommendation that we force the author = labeler?

pbx: Update, I think it should be the Registrant, but not 100% certain.

2) Need to clarify what does this mean, can we use the FDA Effective Date or ?

pbx: update, the issue is on our application

[2015-12-09 18:47] #59 closed, assigned to peterbomberg

[2015-12-09 18:49] #60 closed, assigned to peterbomberg

[2015-12-09 18:49] #58 closed, assigned to MartinBernard

[2015-12-09 18:50] #57 closed, assigned to MartinBernard

[2015-12-09 18:51] #56 closed, assigned to MartinBernard

[2015-12-09 19:00] #55 closed, assigned to peterbomberg

[2015-12-09 19:01] #54 closed, assigned to peterbomberg

[2015-12-09 19:01] #53 closed, assigned to peterbomberg

[2015-12-09 19:02] #52 closed, assigned to peterbomberg

[2015-12-10 01:36] MartinBernard commented on #50
390-30 Missed Dose was missed. I've now entered it.

[2015-12-10 01:36] #50 closed, assigned to ericgrandmaison

[2015-12-10 01:38] MartinBernard commented on #51
@maadarani - sorry to pester you with all these updates but last week you mentioned that all of the above would be completed in relative short order. I would like an update please as soon as possible.

[2015-12-10 03:10] maadarani commented on #51
@MartinBernard Sorry Martin. I should have the ToDo issues completed this weekend (except the web report, since you asked to hold on for this one)

[2015-12-10 13:24] MartinBernard commented on #51
thx Mike.

[2015-12-10 13:24] #51 closed, assigned to maadarani

[2015-12-10 18:10] #48 closed, assigned to maadarani

[2015-12-10 21:50] #45 closed, assigned to maadarani

[2015-12-11 20:46] MartinBernard opened #62 "Open Form Issues"
A) Peter B to provide following [ see #42 ]

(1) XML Prolog
(2) Document Declaration
(3) Document Definition
(4) Codes

1) Add Expand/Collapse All Sections Function

2) Table Issues for adding Columns (ref #25)

3) Char Limit -  fields are locked at 1500 chars. it will need to be revised.

4) We still need the ability to add on demand tables and images to each section. For example, Part II Toxicol

[2015-12-11 20:47] MartinBernard commented on #25
Ref #62

[2015-12-11 20:47] #25 closed, assigned to nobody

[2015-12-11 20:47] MartinBernard commented on #15
Ref #62 . close

[2015-12-11 20:47] #15 closed, assigned to nobody

[2015-12-11 20:47] MartinBernard commented on #34
REf #62 . close

[2015-12-11 20:47] #34 closed, assigned to nobody

[2015-12-11 20:51] #40 closed, assigned to maadarani

[2015-12-11 20:53] #46 closed, assigned to nobody

[2015-12-11 20:53] MartinBernard opened #63 "Mike Maadarini ToDo List"
For now
1) Confirm amount of days left
2) Update code to GIT
3) Remove "Add" button for all paras

[2015-12-15 02:29] MartinBernard commented on #63
@maadarani - update please.

@vksrivas - FYI

[2015-12-15 02:48] MartinBernard commented on #61
@peterbomberg - as discussed today, please add your additional comments and issues here for discussion and decision tomorrow when we meet with @vksrivas

[2015-12-15 12:45] maadarani commented on #63
1. 9 days left
2. will do today
3. will finish it today

[2015-12-15 20:52] peterbomberg opened #64 "Create Presentation re CV's"
Peter to create a presentation to start the discussion re: CV approach.

[2015-12-15 21:19] peterbomberg opened #65 "CV in Drupal"
Please add Clinical Trials - Misc. with an ID of 310-40 to the section ID table

Also please correct the ID's for Oral Solutions  it should be 240-50-10 not 240-60 and Parenteral Products  should be 240-50-20 not 240-70 in the section ID table.

I am not sure if it's spelled right?

Peter

[2015-12-16 02:38] MartinBernard commented on #65
Email sent to @ericgrandmaison for action. It'll be done tomorrow.

[2015-12-16 02:42] MartinBernard commented on #64
Very good first draft. Include my comments and share with Vik for his initial reaction. Meeting scheduled Jan 11th followed by OSIPMC Jan 17th (i think)

[2015-12-16 15:54] peterbomberg commented on #64
Do you have any examples where we use the same term to mean 2 different
things?

[2015-12-16 18:51] MartinBernard commented on #64
I checked with SME within OSIP and we can't think of any examples. Our HC list was derived from the FDA so I doubt it'll be the case.

[2015-12-16 18:52] MartinBernard commented on #63
still pending.

[2015-12-16 19:00] maadarani commented on #63
#3 finished yesterday.
#2 having issues uploading. Will update you.

[2015-12-16 19:16] ericgrandmaison commented on #65
Done.

[2015-12-16 23:02] peterbomberg commented on #64
Ok, this is good news. I will update the deck

[2015-12-17 00:20] #65 closed, assigned to nobody

[2015-12-17 00:21] MartinBernard commented on #64
I would suggest leaving it in even if it means asking the question when we meet with them on the 11th of Jan.

[2015-12-17 00:28] MartinBernard commented on #61
@peterbomberg - Is there anything else we need to discuss before or are we all squared up with issues above? Do you need anything from me?

[2015-12-17 00:31] MartinBernard commented on #42
Anything else required here or are we waiting for direction after our meeting on the 11th of Jan

[2015-12-17 00:34] MartinBernard commented on #63
I noticed all above mentioned item have been completed - thx. I will close this issue and open another one with your next set of tasks which will take care of the remaining days.

[2015-12-17 00:34] #63 closed, assigned to maadarani

[2015-12-17 18:17] peterbomberg commented on #42
We are waiting, I am working on it in the background but no direction to
Mike until the 11th.

[2015-12-17 18:17] peterbomberg commented on #61
We are all good until the 11th

[2015-12-17 18:18] peterbomberg commented on #64
done

[2015-12-17 21:38] MartinBernard commented on #64
Thx.

@vksrivas - when you eyes balls are okay, pls take a look.

[2015-12-17 21:38] #64 closed, assigned to peterbomberg

[2015-12-17 22:14] MartinBernard opened #66 "Mike M. TODO"
To Do

1) Please submit your time sheet for signature for the month of Dec.
2) Keep 2-3 fulls days for knowledge transfer of the code.
3) Action on items in #67
4) Look to fix the Table RTE issue which I believe you mentioned would take you about 4-5 days to fix

@ mike - pls provide feedback on the deliverables

[2015-12-17 23:06] MartinBernard opened #67 "MIKE TODO LIST - Issues/Errors while trying to enter for Advair and Lipitor"
1) Unable to create a bullet list within a bullet list

2) Part III - We should have the ability to add a para after the side effects table

3) Part III - Proper Use : ability to add paragraph before the usual dose paragraph.

4) Part III - SIDE EFFECTS and WHAT to do ABOUT them --- when removing row items (ie: no uncommon row) then when you save and reload the XML, it reappears as an empty row va

[2015-12-18 20:04] MartinBernard commented on #66
please provide update / acknowledgement

[2015-12-21 01:43] MartinBernard commented on #66
please provide update / acknowledgement

[2015-12-21 23:33] maadarani commented on #67
1. Where do you want to add the paragraph? Just one RTE at the end?
2. Same as #2?
3. This is the initial row when you load the page

[2015-12-22 01:59] maadarani commented on #67
#5 create ADD for the entire part III?

[2015-12-28 19:33] MartinBernard commented on #67
yes

[2016-01-03 19:55] MartinBernard commented on #66
@maadarani - Resource will be starting Jan 18th. Can you allocate some time that week (2 days) to met with him/her.

[2016-01-03 19:56] MartinBernard commented on #67
@maadarani - Can you please provide progress update on all 5 times?

[2016-01-04 13:08] MartinBernard commented on #67
6) Keep 2-3 fulls days for knowledge transfer of the code.

7) Look to fix the Table RTE issue which I believe you mentioned would take you about 4-5 days to fix

[2016-01-04 13:09] MartinBernard commented on #66
Close - refer to item #67

[2016-01-04 13:09] #66 closed, assigned to maadarani

[2016-01-05 02:04] MartinBernard commented on #61
@peterbomberg

13) Input on the following Q&A is required:

Q:  What is the naming convention for the XML files?

A:  The naming convention will automatically be assigned by the tool being provided. However, if companies have their own publishing tool, the following naming convention is recommended.
PRODUCT-NAME_CONTROL-NUMBER_DATE-SUBMITTED.XML
Where:
PRODUCT-NAME: brand name as per the PM
CONTRO

[2016-01-05 20:39] peterbomberg commented on #61
The FDA uses the following file naming convention:

The SPL file name is the document id followed by “.xml”, where the document
id is the root attribute of the id element in the Document Information
Section.

[2016-01-06 05:31] maadarani commented on #67
#1, #2, #3, #4, #7 are fixed

[2016-01-06 13:08] MartinBernard commented on #67
Thx @maadarani . I'll verify accordingly.

Can you confirm when you'll be able to complete this one.....

Also, what is your availability to do knowledge transfer? Can you come in during the week of Jan 18th?

[2016-01-06 13:15] MartinBernard commented on #61
FAQ updated accordingly.

[2016-01-06 13:49] MartinBernard commented on #67
8) Please hide section "Comparative Bioavailability Studies" under Part II - Clinical Trials.

[2016-01-08 04:47] maadarani commented on #67
#7. I was referring to the RTE issue for the WET compliance. Will do the columns
Availability for Jan. 18; I will get back to you next week; I might be out of town, and will know early next week.

[2016-01-10 21:23] MartinBernard commented on #67
@maadarani ????

[2016-01-10 22:38] maadarani commented on #67
#8 done.
#7 RTE column: I created a small prototype of 'dynamic adding of columns and rows' table, just the skeleton. I spent about half a day doing so. In summary, it will take a lot more time to do it. Functionalities to add:
Removing columns and rows
Assigning id's to the cells (columns and rows) on add/remove of columns and rows
Capturing of values on save
Structuring of xml elements to xml fi

[2016-01-11 13:08] MartinBernard commented on #61
@peterbomberg - can we discuss today. I'd like to know if I need to ask/clarify anything the WG members during our meeting tomorrow?

[2016-01-11 14:18] peterbomberg commented on #61
We should clarify/verify so yes lets talk today.

On Mon, Jan 11, 2016 at 8:09 AM, MartinBernard <notifications@github.com>
wrote:

[2016-01-11 14:46] MartinBernard commented on #61
1) agree. sponsor. done. however, it doesn't map to the FDA model.
2) equivalent to FDA Effective Date. Date of Revision takes precedence. Rules to be further defined.
3) Pending discussion with OSIP and MC for decision.
4) done.
5) done.
6) done.
7) Hold until further direction.
8) on hold
9) on hold.
10) Not numbered. It'll be sequential.
11) done.
12) Select as " Clinical Trials "
13) done.

[2016-01-11 14:51] MartinBernard commented on #67
9) Please also adjust the subtitle under Part II CLINICAL TRIALS - "Clinical Trials Overview"
It should rather be Part II CLINICAL TRIALS -  " Clinical Trials "

[2016-01-12 23:24] #67 closed, assigned to maadarani

[2016-01-12 23:24] MartinBernard opened #68 "Mike M Action Lists"
@maadarani

1) URGENT FIX - this afternoon we had 3 ppl testing / entering data in the form (iis.rep.hres.ca) simultaneously and they were overwriting each others work. We need to have the ability to have multiple ppl use the form at the same time. This fix is critical as we are entering internal and external testing of the 2004 standard PM Template for PoC.

2) Confirm if you'll be able to come i

[2016-01-12 23:26] MartinBernard commented on #39
@dbeauvai - this will go to the new resource coming in.

[2016-01-13 00:00] maadarani commented on #68
1. Working on it
2. We can start on Tuesday
3. will do
4. will do
5. 5 days

[2016-01-13 00:22] MartinBernard commented on #68
Thx @maadarani for your prompt response. Let me know when 1) is fixed so I can communicate with users.

@dbeauvai - please note item 2) above.

[2016-01-13 00:57] maadarani commented on #68
@MartinBernard  #1 is fixed. Can you test internally before communicating it to others?

[2016-01-13 04:22] maadarani commented on #68
#3 and #4 are done.

[2016-01-13 12:21] #68 closed, assigned to maadarani

[2016-01-13 12:51] dbeauvai commented on #68
Can I have Mike's e-mail.  I will send the invitation today.  Would it be ok if it was at 340 Legget Drive, Kanata.

[2016-01-14 00:35] #61 closed, assigned to peterbomberg

[2016-01-14 00:38] #42 closed, assigned to peterbomberg

[2016-01-20 01:51] MartinBernard commented on #62
@dbeauvai  / @OttawaOn -- pls note action items

@peterbomberg - any thoughts on item 7 above?

[2016-01-20 01:52] MartinBernard commented on #39
@dbeauvai / @OttawaOn - I hope the knowledge transfer went well. Please note report from our web standards group. We will need to address momentarily.

[2016-01-20 03:36] OttawaOn commented on #39
Thanks so much!
I got your message!
Ching

On Tue, Jan 19, 2016 at 8:52 PM, MartinBernard <notifications@github.com>
wrote:

[2016-01-20 13:41] dbeauvai opened #69 "Steps for deployment"
@maadarani  as discussed can you provide screen shots of the steps to deploy the application on iis-rep.hres.ca and identify the steps

[2016-01-20 13:44] MartinBernard commented on #69
@maadarani - approved work, pls proceed.

[2016-01-20 13:44] dbeauvai opened #70 "Bilingualism"
@maadarani  As discussed, can you create functionality to make the application bilingual.

1) English / Francais button to switch language.
2) xml file English and French with 2-3 example.
3) cover page - make a few changes so that we can see how to call labels.

Please do not spend to much time on this.  We just want to see how to do it.  Ching will do the rest herself.

[2016-01-20 13:46] MartinBernard commented on #70
@maadarani - approved work, pls proceed.

[2016-01-20 13:47] dbeauvai opened #71 "Web Standard Report"
@OttawaOn - Hi Ching, Please find attached the web standard report that was sent to us by the web standard group.  They did an assessment of the form and they have made recommendation.  This document will help you identify the changes that has to be done to the application/form.
[DHPR - Web Standards and Web Renewal Compliance Report.docx](https://github.com/hres/pmp/files/97510/DHPR.-.Web.Standar

[2016-01-20 13:49] MartinBernard commented on #71
@dbeauvai - info on web standards as well as the report can be found under #39 .

[2016-01-20 13:49] #71 closed, assigned to nobody

[2016-01-20 15:34] OttawaOn commented on #71
Hi Diane,
I received the web standard document. I am working on it.
Thanks!
Ching

[2016-01-20 15:39] OttawaOn commented on #71
Deare Diane,
Thanks for the email!
I received web standard document.
I am working on it.
Thanks!
Ching

On Wed, Jan 20, 2016 at 8:47 AM, Diane Beauvais notifications@github.com
wrote:

[2016-01-20 18:54] dbeauvai commented on #70
@maadarani Can you make sure that the we keep referring to a header_en.html, header_fr.html, footer_en.html and footer_fr.html because these will change a lot over the year?  We want to be able to replace them easily without having to change the xml files.

[2016-01-20 18:58] dbeauvai commented on #70
@maadarani - Just looked at the code and you are using ProdMono.Master.  Can we either use ProdMono_en.Master and ProdMono_fr.Master or in the ProdMono.Master, call header_en.html or header_fr.html depending on the language?

[2016-01-20 19:02] dbeauvai opened #72 "PM Technical Code Guide"
@maadarani @OttawaOn @MartinBernard

Please find attached a draft of the modified Technical Guide.

I have included a project description (Martin feel free to update it if you want), an architecture diagram, a code repository section and a deployment section (I will complete it once I get info from Mike).

Thanks,
[PM Technical Guide Document.docx](https://github.com/hres/pmp/files/97932/PM.Techni

[2016-01-20 20:12] maadarani commented on #70
@dbeauvai No, only one masterpage is needed; otherwise, you will have to duplicate everything into en and fr. You can dynamically load the WET html pages for en and fr from the master page (header_en.html, header_fr.html, footer_en.html and footer_fr.html)

[2016-01-20 20:59] MartinBernard commented on #72
Very good. Thx. Let's use this ticket to track progress of the guide.

[2016-01-22 14:38] peterbomberg opened #73 "CV Comparison"
Missing the CV list for Units of Measure.

Missing the definitions for Route of Administration, Dosage Form, Units of Measure (not sure what else is in the application as it's not available at this moment)

Potentially all remaining CV's identified in Annex A of the CV Harmonization presentation, such as Ingredients (active and non-active), shape, sex, colour, ....

[2016-01-22 15:45] MartinBernard commented on #73
As discussed, we'll retrieve on Monday.

RoA and DF list and definitions can also be found here drupal.hres.ca/vocabulary

However, it can only be accessed within HC Intranet network.

The most of remaining CVs identified are not standardized in DPD.

[2016-01-22 15:48] MartinBernard opened #74 "Product Monograph Technical Guidance Document"
Let's put this one as it will become a priority. I'd like to share sooner rather than later understanding that you need info from Vik and I before you have a copy ready for prelim. dissemination.

[2016-01-22 16:35] MartinBernard commented on #69
@maadarani / @dbeauvai - status update pls?

[2016-01-22 16:35] MartinBernard commented on #70
@maadarani / @dbeauvai - status update pls?

[2016-01-22 17:16] MartinBernard commented on #72
@vksrivas - take note. I know you like this type of stuff.

[2016-01-22 19:19] peterbomberg commented on #73
[PM CV Comparison.v2.xlsx](https://github.com/hres/pmp/files/101313/PM.CV.Comparison.v2.xlsx)

uploaded the current version

[2016-01-23 20:59] OttawaOn commented on #71
Dear Diane,
How are you!
Last Friday I met Mona (my recruiter form Calian company), we had a very
nice talk in the

cafeteria; I went back to my computer, the computer updated some software
I finished converting a table in cover page and I edited Cover page and
Part one(delete some unused code). I put label tag and attributes like
'lang=en' inside them. I will finish putting them (Labels) on Part

[2016-01-23 21:01] OttawaOn commented on #72
Yes, Mike,
Thanks for your email!
I have read the Technical Guide, it is very useful.
I edit the Cover page and Part one.
Ching

On Fri, Jan 22, 2016 at 12:16 PM, MartinBernard <notifications@github.com>
wrote:

[2016-01-23 21:07] OttawaOn commented on #69
I will wait for Diane's agreement to update into the GitHub, she told me
to keep at my VM first next week We will discuss put into GitHub.
Ching

On Fri, Jan 22, 2016 at 11:35 AM, MartinBernard notifications@github.com
wrote:

[2016-01-24 06:23] peterbomberg commented on #62
YEs #7 should be updated to be the document id followed by “.xml”, however at this time I don't think the id element in the document information section of the SPL file is being set by the application, which means this is rather hard to do.

[2016-01-24 12:27] MartinBernard commented on #62
@dbeauvai / @OttawaOn - for now, please amend to <brandname.zip> format until document id is generate

[2016-01-25 12:45] dbeauvai commented on #71
Hi Ching,

Thank you for the status.

From: OttawaOn [mailto:notifications@github.com]
Sent: 2016-01-23 4:00 PM
To: hres/pmp
Cc: Beauvais, Diane (HC/SC)
Subject: Re: [pmp] Web Standard Report (#71)

Dear Diane,
How are you!
Last Friday I met Mona (my recruiter form Calian company), we had a very
nice talk in the

cafeteria; I went back to my computer, the computer updated some software
I finished

[2016-01-25 14:04] MartinBernard commented on #69
@maadarani - could you please give us a estimated time to completion so we can plan accordingly?

[2016-01-25 14:04] MartinBernard commented on #70
@maadarani - could you please give us a estimated time to completion so we can plan accordingly?

[2016-01-25 14:06] MartinBernard commented on #70
@dbeauvai - for reference to the French 2004 PM template
http://www.hc-sc.gc.ca/dhp-mps/prodpharma/applic-demande/guide-ld/monograph/pmappe_mpanne_2010-fra.php

[2016-01-25 15:13] peterbomberg commented on #74
Peter to update the IG's based on the agreement to operationalize the CV's

[2016-01-25 15:28] maadarani commented on #70
@MartinBernard The code is completed, but the server has been moved and I have no access to it. I have pinged Anthony about it. Maybe I will upload the code here and Ching can download it and deploy it to the server?

[2016-01-25 15:28] maadarani commented on #69
@MartinBernard @dbeauvai I don't have access to the server anymore. I will wait to gain access again to send you the screenshots.

[2016-01-25 15:37] dbeauvai commented on #70
@maadarani - yes please put the code here and we will upload it.

Thanks,

[2016-01-25 15:38] dbeauvai commented on #69
@maadarani - can you put the images here and the steps ? or send to me via e-mail?

Thanks,

[2016-01-25 16:07] peterbomberg commented on #73
Martin, can you get me the DPD units of measurement. I have attached the version showing where clarifications are required.
[PM CV Comparison.v4.xlsx](https://github.com/hres/pmp/files/103456/PM.CV.Comparison.v4.xlsx)

[2016-01-25 16:35] MartinBernard commented on #73
@peterbomberg - Thanks Peter. What's our plan for getting the FDA definitions?.

Retrieving the Metric Unit for you to add to your mapping exercise.

[2016-01-25 16:38] peterbomberg commented on #73
I will be asking Veda on our next call, however there may be merit to
asking for them sooner.

[2016-01-25 16:39] MartinBernard commented on #73
Let's ask now otherwise we wait another 10 days before the next call. Can you craft something? I'm in the process of draft an email to the group to share the mapping

[2016-01-25 17:02] peterbomberg commented on #73
@vksrivas - Peter and I would like you to send an email to Veda before our meeting next week. See inbox for wording but it goes like this....

Veda,

Would you be able to assist with either putting us in contact with the point of contact for the definitions for the CV’s (Route of Administration, Dosage, Units of Measure, etc.) or provide the definitions for the CV’s.

[2016-01-25 17:23] MartinBernard commented on #73
Email also sent to OSIP to cover the following :

---

Hi All,

As a follow-up to our meeting last Monday, RMOD had committed in doing a cross walk mapping of some of the controlled vocabulary to be standardised.

As promised, please find attached a preliminary version of the mapping. We started by listing all RoA and Dosage (see first two tabs) with their corresponding ID Code, HC Terms, HC Defin

[2016-01-25 18:37] OttawaOn commented on #70
hi!
It is ok, put code here, I could get.
Thanks!
Ching

On Mon, Jan 25, 2016 at 10:37 AM, Diane Beauvais notifications@github.com
wrote:

[2016-01-25 20:11] maadarani commented on #70
@dbeauvai done

[2016-01-25 20:12] maadarani commented on #69
@dbeauvai I will when I gain access back to the server.

[2016-01-26 02:02] MartinBernard commented on #73
@peterbomberg - pls upload the CV harmonization deck here after my comments from this evening have been addressed.

[2016-01-26 02:04] MartinBernard commented on #70
@dbeauvai - pls confirm everything is done before closing.

[2016-01-26 03:58] peterbomberg commented on #73
Revised version

[CV Harminization.v0.11.zip](https://github.com/hres/pmp/files/104417/CV.Harminization.v0.11.zip)

[2016-01-26 12:50] dbeauvai commented on #70
@maadarani - can you identify which file you have modified.  I will download everything on my pc today.

Thanks,

[2016-01-26 13:21] MartinBernard commented on #62
@dbeauvai - please get Ching to focus on the item 4 to 7 as listed above before addressing any web standards #39 items . We need to correct those issues before we formally reach out to industry for the proof of concept testing from external participants. We intend to reach out to participants early February so time is of the essence. Web Standards fixes can wait.

[2016-01-26 13:42] MartinBernard commented on #73
@peterbomberg / @vksrivas - much better. I've included in the meeting invite for review tomorrow.

[2016-01-26 15:22] MartinBernard commented on #73
@peterbomberg - Units of Measures Code Table has been sent to your personal email. I will also ask Eric to input into drupal.hres.ca/vocabulary

[2016-01-26 15:55] MartinBernard commented on #62
Changes is required for all tables throughout the form. Some examples, but not limited to, are under Part I Clinical Trials and Drug Interactions

You will need to create an ADD / REMOVE button for the complete PART III.

[2016-01-26 19:22] maadarani commented on #70
1. App_GlobalResources folder and its content
2. PMForm
3. ProdMono.master

[2016-01-26 19:50] dbeauvai commented on #62
@OttawaOn  - Please work on #7, #6 and #5 as discussed.  If you have any questions please contact me.

[2016-01-26 19:53] dbeauvai commented on #62
@MartinBernard  - for #7.  What is the rule if they have not entered the brand name yet?  Shall we put as default productmonograph or else?

[2016-01-26 20:09] dbeauvai commented on #70
@maadarani - I noticed that in the Resource.resx the label is called UsingXMLPM and when you call it in the page you are using lblUsingxml.... how does this work?

[2016-01-26 20:11] dbeauvai commented on #70
@maadarani - how are you planning to switch the ControlledList.xml for the drop down list in English and French?

[2016-01-26 20:20] MartinBernard commented on #62
Pls note that additional work issues will be added to this list.

As for item 7 herein, up to you I'm indifferent how we name it, it cannot be however productmonograph.xml

[2016-01-26 20:35] MartinBernard opened #75 "PM Guidance Document - update"
@peterbomberg - can you come up with a 2-3 liner blurb that will be going in the PM Guidance Document indicating that we'll be doing work on the technical side of things so for more information go <to our guidelines> etc.

[2016-01-26 20:38] MartinBernard commented on #62
@dbeauvai - please add item 8 above to Ching workload. As mentioned, more are forthcoming

[2016-01-26 22:12] peterbomberg commented on #75
Which PM Guidance Document, the one for the SPL document or the application? (We may have  too many documents called PM Guidance).

I have 2 guidance documents (Guidance for HC SPL Documents and Guidance Document PM) these are for SPL documents, so I am guessing the PM Guidance is for the application.

Here is my proposed blurb:

Additional information on the technical aspects (including the schem

[2016-01-26 22:15] peterbomberg commented on #62
7) File naming convention will when saving XML will need to change. Currently, it saves all files as "productmonograph.zip"

The file name must be unique as a submission can contain more than one product. So the brand name .xml would work for now however the long term aim is to use the document id@root value.xml

[2016-01-26 22:18] MartinBernard commented on #75
Seriously. I should have been more prescriptive in my request and yes I agree we have too many guidance named the same thing. I was referring to the operation/business PM guidance found here: http://www.hc-sc.gc.ca/dhp-mps/prodpharma/applic-demande/guide-ld/monograph/index-eng.php

They are revising it now so they want to make sure there's a statement in there to reflect what we're doing on our in

[2016-01-26 22:20] peterbomberg commented on #75
Ahh, well in that case my blurb might actually be perfect and I am glad to hear they are updating the business Guidance Document however this means that we need a decision ASAP. Is the Pristine PM in XML format a nice to have or a must have.

[2016-01-26 22:30] MartinBernard commented on #75
Yes we're at that cross road where we need to make a decision asap. Let's put that final "processing" decision in the eCTD guidance / instructions document but for the sake of this GD, lets' keep it somewhat vague but ensure we address the fact that there's a statement in there that will inform users where to go for op /technical reference.  This request comes from Michell Remillar (TPD rep)

[2016-01-26 22:44] MartinBernard commented on #69
@dbeauvai - progress on this?

[2016-01-27 02:57] peterbomberg commented on #75
Revised blurb:
This document provides guidance on the content and context from a business perspective. There are additional guidance documents that describe the technical aspects.
The requirement is to submit a Pristine PM in SPL format as part of the submission, this can be done in one of 2 ways both are valid and result in valid content being created.
• Health Canada has provided an open and fre

[2016-01-27 04:39] maadarani commented on #70
Regarding the resource files, see the code here:
string lang = "";

if (Request.QueryString["lang"] == null)
{ }
else
{
lang = Request.QueryString["lang"].ToString();
}

Thread.CurrentThread.CurrentUICulture = new CultureInfo( (lang == "" ) ? "en-us" : lang );

Thread.CurrentThread.CurrentCulture = Thread.CurrentThread.CurrentUICulture;

lblUsingxml.Text = Resources.Resource.UsingXMLPM;  //key wor

[2016-01-27 04:40] maadarani commented on #70
The control list is the same as the labels. Through the query string, you can load the values from the resource files based on the culture.

[2016-01-27 12:06] MartinBernard commented on #75
Thx again Peter. Great.

We'll have to most likely change the naming of your guidance but that's something we can deal with later on.

[2016-01-27 12:07] #75 closed, assigned to peterbomberg

[2016-01-27 12:09] MartinBernard commented on #39
Close for now. We'll include this task in item #62

[2016-01-27 12:09] #39 closed, assigned to dbeauvai

[2016-01-27 12:13] MartinBernard commented on #62
item b) added.

[2016-01-27 12:38] dbeauvai commented on #69
@MartinBernard - Mike does not have access to the server anymore.  He needs it in order to do the screenshots.

[2016-01-27 12:41] MartinBernard commented on #69
@ayoung8 - can you pls action.

[2016-01-28 03:53] maadarani commented on #69
To Deploy, simply zip the solution and unzip in this folder. C:\Website\iis.rep.hres.ca. See Screenshots

![2016-01-27 10-50-59 pm](https://cloud.githubusercontent.com/assets/6798647/12634578/d249607a-c548-11e5-8daa-5c9cfaa7476f.jpg)
![2016-01-27 10-51-48 pm](https://cloud.githubusercontent.com/assets/6798647/12634581/d568f266-c548-11e5-8072-be1d25345c62.jpg)

[2016-01-29 01:26] ayoung8 commented on #69
This site is now synced with GitHub on the server. All you have to do is connected to the server and within github for windows sync any changes. (Eric knows how to use github for windows in case anyone needs a refresher ... it will take about 30 seconds)
-------------- NOTE: --------------------------
All changes MUST be made to this repository, if you are using Visual Studio then have it sync wit

[2016-01-29 12:00] MartinBernard commented on #73
Yes I'll set that up today following our osip-mc presentation.

Can you please take this revised document and incorporate the units of measure mapping in here. Use this copy as version of the truth

Yes I'll set that up today following our osip-mc presentation.

Can you please take this revised document and incorporate the units of measure mapping in here. Use this copy as version of the truth.

[

[2016-01-29 12:09] MartinBernard commented on #74
We will review later. Many other action items taking precedence

[2016-01-29 12:09] #74 closed, assigned to peterbomberg

[2016-01-29 13:14] peterbomberg commented on #73
The units of measure were already incorporated in the version I send out
last time, I will update after disusing how to address the issues.

[code]

email: pbx@soundfound.com

cell: +1 613.769.1142

_From:_ MartinBernard [mailto:notifications@github.com]
_Sent:_ Friday, January 29, 2016 7:01 AM
_To:_ hres/pmp
_Cc:_ peterbomberg
_Subject:_ Re: [pmp] CV Comparison (#73)

Yes I'll set that up today f

[2016-01-29 13:53] MartinBernard commented on #73
Please don’t incorporate at this time. We need to talk about how to resolve the issues and what the resolution means.
[PM CV Comparison.v6.xlsx](https://github.com/hres/pmp/files/109820/PM.CV.Comparison.v6.xlsx)
I have attached the latest version.

[2016-01-29 16:17] dbeauvai commented on #69
I have added the instructions in our Technical Guide Document.  We will test the synced and deployment asap.

[2016-01-29 19:21] MartinBernard commented on #69
@dbeauvai - it's the same guide entered in #74 ? If so, can you please attach the update version in that git issue?

[2016-01-29 20:37] MartinBernard commented on #72
@dbeauvai - pls attach the revised version as mentioned today in the ticket

[2016-01-30 22:36] OttawaOn commented on #72
Wait till on Monday Feb 1, 2016
I will merge the code with Diane and Min. then upload the project.
Ching

On Fri, Jan 29, 2016 at 3:37 PM, MartinBernard notifications@github.com
wrote:

[2016-01-31 12:53] MartinBernard opened #76 "First Page Changes"
(1) Ability to input multiple active ingredients and corresponding strengths for one tablets. For example, see PM ATRIPLA. We need to be able to capture these. In other words, we need an ADD/REMOVE button wrapped around the first table to be able to capture multiple ingredents.

[PM00030932.pdf](https://github.com/hres/pmp/files/111267/PM00030932.pdf)

(2) We also need to ability to capture joint

[2016-01-31 19:49] MartinBernard commented on #76
@peterbomberg & @kpaschakis ---- please help @dbeauvai understand this requirement or contact me if above 1) and 2) are unclear.

[2016-02-01 14:36] peterbomberg commented on #76
Lets talk about the joint venture approach, that is not in line with the FDA. if a separate legal entity then  single, if a true joint venture then one is lead. I have to see if you can have 2 equals.

[2016-02-01 15:09] peterbomberg commented on #76
Peter to create a business guidance update list/document and note how to address 2 above. 1) needs to be corrected.

[2016-02-01 15:13] peterbomberg opened #77 "Recommendation for splitting the approach (SPL and SPL Lite)"
Rather than making the online application being able to handle all appropriate SLP aspects, it may be advisable to change the position and at this time say that the application will not be capable of handling a full SPL file but rather save an interim format, over time it will be aligned with SPL.

This means that a sponsor will NOT be able to load a full SPL file into the application for validati

[2016-02-01 16:01] peterbomberg opened #78 "CV related questions."
To be resolved in the CV meetings:
1. Do we have a HC code system for Language? If not can we adopt ISO 639-3>
   <languageCode code="eng" codeSystem="1.0.639.3" displayName="English”/> Note 3 char
2. Do we have a HC code system for DIN Owner and other companies identified in the SPL files? If so how/what/etc if not do we use the DUNS number?
3.  Do we have a HC code system for country codes, if n

[2016-02-01 16:01] peterbomberg opened #79 "Rendering Realted"
I believe we agreed that sections are not numbered, this should however be documented so I am adding it to the business guidance info

[2016-02-01 17:01] OttawaOn commented on #69
Hi! Mike,
I zip the project Could I email to you

On Fri, Jan 29, 2016 at 2:21 PM, MartinBernard notifications@github.com
wrote:

[2016-02-01 18:10] OttawaOn commented on #62
Hi!
Saved-file name is already changed into Brandname.xml e.g myBrandname.xml and compressed as Brandname.zip. e.g: myBrandname.zip
if no brandname, we use draftPMForm.xml and draftPMForm.zip as template filename.

[2016-02-02 01:10] MartinBernard commented on #69
@dbeauvai - pls note that we have expired Mike's time and I'm not sure what sure that @OttawaOn meant by her last comment.

[2016-02-02 01:12] MartinBernard commented on #62
@dbeauvai ---- not sure @OttawaOn is clear on the requirements we discussed. Please clarify with her. We will discuss on Wednesday.

[2016-02-02 01:29] MartinBernard commented on #77
@peterbomberg - noted, you may want to get full confirmation with @vksrivas  or bring up at Wednesday's meeting with the FDA.

[2016-02-02 01:36] peterbomberg commented on #77
I would rather the 3 of us talk about it internally first. I can join via telco tomorrow after 3
Peter

--
Sent from my cell with K-9 Mail. Please excuse the brevity.

On February 1, 2016 8:29:57 PM EST, MartinBernard <notifications@github.com> wrote:

[2016-02-02 05:32] peterbomberg commented on #77
Another benefit of this split is we could phase in the SPL file support thus buying time for the CV cleanup. As only 4-5 CV's are needed for the application (and we can even reduce it to 2-3 if needed. However for the full SPL we need at least 15 possibly as many as 30 CV's for the sections we require. (I have started identifying them as per Martin's and my conversation today and am 1/3 of the way

[2016-02-02 12:39] MartinBernard commented on #77
Good point. Let's make sure this is discussed with @vksrivas  before I leave.

[2016-02-02 13:15] dbeauvai commented on #72
@MartinBernard - please find attached the revised version of the PM Technical Guide Document.
[PM Technical Guide Document.docx](https://github.com/hres/pmp/files/113957/PM.Technical.Guide.Document.docx)

[2016-02-02 13:15] #72 closed, assigned to dbeauvai

[2016-02-02 13:28] dbeauvai commented on #69
@MartinBernard - I will follow up with her.

[2016-02-02 13:28] #69 closed, assigned to nobody

[2016-02-03 13:07] OttawaOn commented on #69
Diane, Hi, Please receive my status report.

On Wed, Jan 27, 2016 at 7:38 AM, Diane Beauvais notifications@github.com
wrote:

[2016-02-19 12:34] dbeauvai commented on #70
@MartinBernard The header / footer and Part III are now 95% compliant to WET 4 and bilingual.  We finally got the function to switch language to work perfectly on all the pages by using two master page.  On in English and on in French.  We are using the resources files to load all the labels according to the language.

NOTE:  We will need translation for the first page but the text in English will

[2016-02-19 12:37] dbeauvai commented on #62
Status:

Ching has worked very hard to make the table compliant to WET 4 and to Append Rows and Columns.  She did it for one table and we will submit it to the Web Standard group to make sure we are compliant then she will do all the other one.  She is presently working on the function to save the result of the table in the session and in the xml file.

The function to save was working but it was

[2016-02-23 17:00] dbeauvai commented on #62
We did not make as much progress as we wanted because the task of adding columns and rows was complex.  The developer had to redo what was done before in order to be compliant to WRI.
We had issues saving to github and getting the proper result on iis.  Lost a lot of time debugging but it is now resolved.  PART II and PART III are almost all bilingual.  The code will be put on github/iis tomorrow

[2016-02-23 19:08] OttawaOn commented on #62
I finished the program part of "Save Draft File" with file name, now it
works. also finish functions on Add Row and Remove Row, and save the data
of new row into the XML file and Session.

On Tue, Feb 23, 2016 at 12:00 PM, Diane Beauvais notifications@github.com
wrote:

[2016-02-25 01:57] MartinBernard commented on #79
@peterbomberg - no urgency on this but looking to close this ticket if you've already action ed it.

[2016-02-25 01:58] MartinBernard commented on #78
@peterbomberg - will be resolved after we send your list of CVs to OSIP and we have an formalized direction / approach. I would like to get this completed and closed by end of next week.

[2016-02-25 01:59] MartinBernard commented on #77
@peterbomberg - tbd and email to be drfted for Vik's perusal. This week pls.

[2016-02-25 02:00] MartinBernard commented on #70
@dbeauvai - thx for the update. pls clearly articulate what is required from me (if anything at this time)?

[2016-02-25 02:06] MartinBernard commented on #62
@peterbomberg ----  can you please add the item we talked about this afternoon and assign to Diane. That is the requirements to generate and render a recognized SPL file after its transformation.  Either document here as item 10 or open another ticket.

[2016-02-25 06:38] peterbomberg opened #80 "SPL compliant XML files"
We need to address the requirement to generate an SPL compliant XML output file.

There are 2 aspects to this, the first being creating rules driven validation that must be executed prior to saving the file (ideally tied to a validate button as well as to the save button). Any validation error needs to be flagged interactively to the user so they can address it.

The second aspect can be done behi

[2016-02-25 12:50] dbeauvai commented on #70
@MartinBernard - nothing at this time.  You will probably change the wording on the first page.  Once it is completed we will request a translation.

[2016-02-25 15:34] MartinBernard commented on #62
pls set at 5hrs timeout period

[2016-02-25 15:36] dbeauvai commented on #62
@MartinBernard  - The IIS server idle-timeout was changed to 300 minutes (5hrs). - Timeout issue is now done

[2016-02-25 21:28] peterbomberg opened #81 "http://iis-rep.hres.ca/ does not work with chrome"
works fine on IE but the load template button is not functioning on Chrome (Windows 10)

[2016-02-25 22:25] peterbomberg commented on #79
Work on this item has not been started, and should wait until the SPL Lite
approach is formalized.

[code]

email: pbx@soundfound.com

cell: +1 613.769.1142

_From:_ MartinBernard [mailto:notifications@github.com]
_Sent:_ Wednesday, February 24, 2016 8:57 PM
_To:_ hres/pmp
_Cc:_ peterbomberg
_Subject:_ Re: [pmp] Rendering Realted (#79)

@peterbomberg https://github.com/peterbomberg - no urgency on

[2016-02-26 12:53] dbeauvai commented on #81
@peterbomberg, @MartinBernard  - I have tested the load template with Chrome and I have no issue. We are using Windows 7 here.  We will investigate.

[2016-02-27 16:25] MartinBernard commented on #62
(10)  http://iis-rep.hres.ca/ does not work with chrome #81 works fine on IE but the load template button is not functioning on Chrome (Windows 10)

[2016-02-27 16:25] #81 closed, assigned to dbeauvai

[2016-02-27 16:27] MartinBernard commented on #62
(11) Make form Bilingual (reference #70 for background) . We will track here from now on.

[2016-02-27 16:27] #70 closed, assigned to dbeauvai

[2016-02-27 16:32] MartinBernard commented on #62
Ref 76 - we will track here moving forward

(12) Ability to input multiple active ingredients and corresponding strengths for one tablets. For example, see PM ATRIPLA. We need to be able to capture these. In other words, we need an ADD/REMOVE button wrapped around the first table to be able to capture multiple ingredents.

PM00030932.pdf

(13) We also need to ability to capture joint venture agree

[2016-02-27 16:32] #76 closed, assigned to nobody

[2016-02-27 16:33] #73 closed, assigned to peterbomberg

[2016-03-02 01:00] MartinBernard commented on #62
@dbeauvai - we will need to discuss this urgently |(as in tomorrow). As I\m going through the form again, I catch myself going thru issues that were reported and addressed with Mike. The look and feel, format is also not optimal. We'll need to have an honest and frank discussion about the progress. I've already invested hours?month reporting bug/fixes, etc., I can't go through that exercise again.

[2016-03-03 10:17] MartinBernard commented on #62
Will be tracked and reported using spreadsheet.

[2016-03-03 10:17] #62 closed, assigned to dbeauvai

[2016-03-03 10:19] MartinBernard commented on #78
@peterbomberg - can we close this given the email to OSIP and the email we drafted to Vik which I will send momentarilly

[2016-03-03 10:20] MartinBernard commented on #77
SPL Lite recommended. Email sent today to Vik for confirmation and approval.

[2016-03-03 10:20] #77 closed, assigned to MartinBernard

[2016-03-03 10:22] MartinBernard commented on #80
Noted and recognized work by Diane.. Will be captured as part of Diane;s work spreadsheet.

[2016-03-03 10:22] #80 closed, assigned to nobody

[2016-03-03 10:22] MartinBernard commented on #78
Tentatively closing. We can reopen if need be

[2016-03-03 10:22] #78 closed, assigned to MartinBernard

[2016-03-03 10:23] MartinBernard commented on #79
I will close but pls track if this work you required to do.

[2016-03-03 10:23] #79 closed, assigned to MartinBernard

[2016-03-05 19:05] OttawaOn commented on #62
Yes, I get it on file name, later we will create filename as document
id@root value.xml, and open the client folder...
Now The cover page was finished as bilingual. I am working on Part I...
Ching

On Tue, Jan 26, 2016 at 5:15 PM, peterbomberg notifications@github.com
wrote:

[2017-01-13 20:10] peterbomberg opened #82 "Version Element"
This should be a positive Integer

[2017-01-13 20:13] peterbomberg opened #83 "Sponsor Registry"
please add a dummy value so I can validate the XML

[2017-01-13 20:16] peterbomberg opened #84 "email validation"
not sure what rule you are using to determine if it is a valid email address

[2017-01-13 20:19] #84 closed, assigned to spacejang

[2017-01-16 21:32] peterbomberg opened #85 "Section ID"
In the xml you generate (see line 41)

 <component>
    <structuredBody>
      <component>
        <section ID="0a2fe797-6228-4ac2-991c-b80ece495741">

There should be no ID attribute on the section element, it is a child element, which you properly include

[2017-01-16 21:37] peterbomberg opened #86 "reversed code and code system"
on line 43, and possibly other places you have reversed code and code system

<code code="2.16.840.1.113883.3.989.5.1.4.1.8" codeSystem="48780-1" displayName="SPL product data elements section" />

This should be:

<code code="48780-1" codeSystem="2.16.840.1.113883.3.989.5.1.4.1.8" displayName="SPL product data elements section" />

[2017-01-16 21:45] peterbomberg opened #87 "Empty Attributes"
I have discovered you have included empty attributes in the XML you generate, the problem is that the document wont validate that way as "" is often not an allowed value for an element as an example on line 52, 58 etc..

[2017-01-20 19:50] spacejang commented on #82
Fixed

[2017-01-20 19:51] spacejang commented on #83
Added dummy values

[2017-01-20 19:51] spacejang commented on #86
Fixed

[2017-01-20 19:53] spacejang commented on #87
Hello Peter,

Only remove Empty Attributes? or all of empty elements?

[2017-01-20 20:31] peterbomberg commented on #87
Remove empty elements

[2017-01-20 20:45] #82 closed, assigned to spacejang

[2017-01-20 20:45] #83 closed, assigned to spacejang

[2017-01-20 20:48] peterbomberg opened #88 "Reset Button"
It is currently not working

[2017-01-20 20:51] peterbomberg opened #89 "Version #"
When I load a file with a version number you do not set it properly in the application

[2017-01-20 20:55] peterbomberg opened #90 "Root ID"
This number should not be changed, if a file is loaded retain the value if you save as draft retain the value, only assign a new one when you use the load template function

[2017-01-20 20:56] peterbomberg opened #91 "only Author saves"
Product and Part 1-3 are empty when I save as draft

[2017-01-23 15:31] peterbomberg opened #92 "codeSystem="2.16.840.1.113883.3.989.5.1.4.1.10""
there is an extra space in displayName="2004 Product Monograph Template  Standard" />

[2017-01-23 15:34] peterbomberg commented on #91
Actually this happens as soon as I try to create product info.

If I only create part 1-3 content these sections are included in the XML

[2017-01-23 16:07] spacejang commented on #89
What do you mean?
Version number loaded as it is. Please give me steps..

[2017-01-23 16:08] spacejang commented on #90
Fixed

[2017-01-23 16:09] spacejang commented on #91
Could you please re-try it since I deployed new version in the morning.
Or
Could you please give me steps what you've done.

[2017-01-23 16:10] spacejang commented on #92
What do you mean?
Please give me more detail.
Thanks.

[2017-01-23 16:13] peterbomberg commented on #89
Do you want me to email you or update Git?

              Peter Bomberg

email: pbx@soundfound.com

cell: +1 613.769.1142

*From:* Jangyoung [mailto:notifications@github.com]
*Sent:* Monday, January 23, 2017 11:08 AM
*To:* hres/PM
*Cc:* peterbomberg; Author
*Subject:* Re: [hres/PM] Version # (#89)

What do you mean?
Version number loaded as it is. Please give me steps..

—
You are receiving this b

[2017-01-23 16:21] peterbomberg commented on #89
I uploaded a XML file where the version number was set but the form remained blank.

[2017-01-23 16:23] peterbomberg commented on #92
Details in the message, there is an extra space between the word Template
and Standard

              Peter Bomberg

email: pbx@soundfound.com

cell: +1 613.769.1142

*From:* Jangyoung [mailto:notifications@github.com]
*Sent:* Monday, January 23, 2017 11:11 AM
*To:* hres/PM
*Cc:* peterbomberg; Author
*Subject:* Re: [hres/PM] codeSystem="2.16.840.1.113883.3.989.5.1.4.1.10"
(#92)

What do you mean?

[2017-01-23 16:25] spacejang commented on #88
What are the steps?
It is working for me..

[2017-01-23 16:33] peterbomberg commented on #89
I figured this out, you are setting the value as content it should be set as an attribute.

The XML should read <versionNumber value="1"/> not <versionNumber>1</versionNumber>

[2017-01-23 16:37] peterbomberg commented on #89
Blah, I can not load XML into the content, so the issue is it should be: (I am removing the delimiters

versionNumber value="1"/ not versionNumber5/versionNumber

[2017-01-23 16:37] peterbomberg commented on #88
yes, it works mostly, there are some fields it skips in some sequences, I will show you when we are meeting

[2017-01-23 18:11] peterbomberg commented on #90
Sadly this is still occuring

[2017-01-23 18:34] peterbomberg opened #93 "missing sub sections"
If I enter content into a subsection without creating content in the parent section then it is omitted in the XML

Step 1) Create content in Geriatrics (210-210-40)
Step 2) Save Draft
Step 3) Review XML , it is missing section 210, 210-210 and 210-210-40, ie none of the 3 sections are in the XML
Step 4) Create content in Warnings and Precautions (210)
Step 5) Save Draft
Step 6) Review XML and it's

[2017-01-23 18:36] peterbomberg opened #94 "Should we have a home button"
There is currently no way to start over other than reloading the web page.

[2017-01-23 18:45] peterbomberg opened #95 "duplicate sections result in no content"
If I try to create content twice in the same section 210-10 as an example the resulting XML file is missing 210 and 210-10

[2017-01-23 18:50] peterbomberg opened #96 "IG Enforcement"
This is not a bug at this time, but we have to figure out how to handle the following (which is not allowed)

The user can try to create more than one section where this is not allowed as an example 210-10 (210-10	H3	0:1	F	General). This is technically allowed but will be caught as a business rule, however the UI does not stop it.

[2017-01-23 19:12] peterbomberg opened #97 "XML File load timout"
When trying to load a completed (or mostly completed) xml file the application times out. I will email the file as trying to attach it here does not seem to work well

[2017-01-23 20:51] peterbomberg opened #98 "Author Element Sequence Issue"
If other party is filled in and not sponsor nothing is saved to the XML file

[2017-01-23 21:01] peterbomberg opened #99 "XML Content"
Files containing marked up content in a section are not loaded, the rest of the file is (this makes sense as HTML is handled properly) I suspect we can not test this aspect until we replace the rich text editor

[2017-01-25 14:36] spacejang opened #100 "Product do not save"
product part does not save if it input partial.

[2017-01-25 14:39] spacejang commented on #85
only apply it to Product section

[2017-01-26 20:34] spacejang commented on #100
Fixed

[2017-01-26 20:34] spacejang commented on #93
Fixed

[2017-01-26 20:35] spacejang commented on #91
Fixed

[2017-01-27 13:16] spacejang commented on #98
Fixed

[2017-01-27 19:36] #100 closed, assigned to spacejang

[2017-01-27 19:36] #86 closed, assigned to spacejang

[2017-01-30 14:25] #98 closed, assigned to spacejang

[2017-01-30 14:26] #91 closed, assigned to spacejang

[2017-01-30 15:37] peterbomberg opened #101 "Load XML file does notwork"
I can select the file but when I select Load XML File nothing happens

[2017-01-30 15:50] #94 closed

[2017-01-30 15:51] #92 closed, assigned to spacejang

[2017-01-30 18:01] spacejang commented on #101
Hello Peter,

You should create brand new file and load it since I added/ deleted some attributes.
Or
Send me your xml file. I will try it.
Thanks

[2017-01-30 18:02] spacejang commented on #85
Fixed

[2017-01-30 18:02] spacejang commented on #88
Fixed

[2017-01-30 18:02] spacejang commented on #90
Fixed

[2017-01-30 21:37] #90 closed, assigned to spacejang

[2017-01-30 21:39] peterbomberg commented on #93
Still occuring

[2017-01-30 21:44] #89 closed, assigned to spacejang

[2017-01-30 21:45] #85 closed, assigned to spacejang

[2017-01-30 21:47] #88 closed, assigned to spacejang

[2017-01-30 21:51] peterbomberg commented on #101
Tried creating new files still get the same result

[2017-01-31 13:07] spacejang commented on #101
Hello Peter,
Could you please send me your saved new xml file by email.
I would like to test it...

[2017-01-31 13:13] spacejang commented on #95
Fixed

[2017-01-31 13:13] spacejang commented on #87
Fixed

[2017-01-31 13:17] spacejang commented on #95
Hello Peter,

Most of dropdown list has its own value and I save it as Key and Value.
So, the way you test does not work since the Key  must be unique.

If you select "210-10" 2 times...I only save the first one....
I will explain it when we have a meeting.

[2017-02-01 02:42] peterbomberg commented on #101
worked just now

[2017-02-01 02:42] #101 closed, assigned to spacejang

[2017-02-01 02:46] #87 closed, assigned to spacejang

[2017-02-01 02:48] #93 closed, assigned to spacejang

[2017-02-01 02:54] peterbomberg opened #102 "non selectable options are selectable"
In 210 (Warnings And Precautions) the UI make it look like you can select "Select a Warnings And Precautions" but the result is that the section is missing.

We need to talk about this and a couple other UI aspects, but please leave it on hold for now

[2017-02-01 14:51] spacejang opened #103 "Remove "select" default option from all of the dropdown list"

[2017-02-09 15:02] peterbomberg opened #104 "wording change on genericode button"
On the http://api.hres.ca/controlledVocabulary/ site please change download generic code button to download genricode (it's one word)

[2017-02-09 15:03] #95 closed, assigned to spacejang

[2017-02-09 15:18] peterbomberg opened #105 "revise genericode file format"
bilingual
rename to oid nomenclature
include location uri

[2017-02-09 18:20] spacejang commented on #102
Fixed

[2017-02-09 18:20] spacejang commented on #103
Fixed

[2017-02-09 18:20] #103 closed, assigned to peterbomberg

[2017-02-09 18:34] #102 closed, assigned to spacejang

[2017-02-09 19:32] peterbomberg opened #106 "CV API"
the file name when you download the genricode file should be oid.gc.xml not oid.xml

[2017-02-15 15:21] spacejang opened #107 "Resolve CV ??? name.."

[2017-03-29 19:43] peterbomberg opened #108 "XML View Button"
Selecting this option resets the product info, may reset the rest but not sure as I had not filled anything else in.

[2017-03-29 20:57] peterbomberg opened #109 "update header"
The lines

<?xsl-stylesheet type="text/xsl" href="https://raw.githubusercontent.com/HealthCanada/Structured-Content-Information/master/Structured-Product-Labeling-(SPL)/Style%20Sheets/SPM/current/spl.xsl"?>
<?xsl-stylesheet type="text/css" href="https://raw.githubusercontent.com/HealthCanada/Structured-Content-Information/master/Structured-Product-Labeling-(SPL)/Style%20Sheets/SPM/current/spl.css"